*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    height: 100vh;
    background-color: #f5f5f5; 

}

div{
    display: grid;
    grid-template-columns: repeat(10,10%);
    grid-template-rows: repeat(10,10%);
    box-shadow: -2px 19px 79px -29px rgba(0,0,0,0.63);
}

.ventanaUno{
    background-color: #ffffff;
    width: 40%;
    height: 45%;
    margin: auto;
    margin-top: 20px;
    border-radius: 10%;
    
}

.ventanaDos{
    background-color: #ffffff;
    width: 40%;
    height: 45%;
    margin: auto;
    margin-top: 20px;
    border-radius: 10%;
   
}

.ventanaUno_imagen{
  
    grid-column: 4/8;
    grid-row: 2/6;
    height: 60%;
    margin:auto;
}

.ventanaDos_imagen{
    
    grid-column: 4/8;
    grid-row: 2/6;
    height: 50%;
    margin:auto;

}

p{
    grid-column: 2/10;
    grid-row: 5/7;
    text-align: center;
}

button{
    grid-column: 3/9;
    grid-row: 8/10; 
    height: 70%;
    width: 80%;
    margin: auto;
    border-radius: 10%;
    color: #f5f5f5;
    border: none;
    box-shadow: -2px 19px 79px -29px rgba(0,0,0,0.63);
}

.btn_uno{
    background-color: #ed6755;
    
}

.btn_dos{
    background-color: #2c3e50;

}

.x{
    grid-column: 9/10;
    grid-row: 2/3; 
    margin: auto;
    opacity: 0.5;
}